{% extends 'Homepage/base2.html' %}
{% load static %}
{% block title %}List{% endblock title %}
{% block main-content %}
<div class="wrapper" style="padding-top:73px">
	<div class="header">Search results for nearby garages</div>
	<div class="cards_wrap">
		<div class="card_item">
			<div class="card_inner">
				<img src="{% static "Homepage/images/n-c.jpg" %}">
				<div class="role_name" style="font-weight:800;font-size: 15px;">Garage Id : 12</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Owner Id : 2</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Address : 5/3, 6/t</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Area : Kalshi</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Availability : Available</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Hourly Price : 100</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Daily Price : 1200</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Monthly Price : 13000</div>
				<div class="film" style="font-size: 15px;">Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nisi magna
				</div>
			</div>
            <a class="btn" style="color:#ffbe33;width:100%; background-color:black; font-size:18px; border-radius:25px; 
			margin-top:5px" type="submit" href="#">Rent</a>
		</div>
		<div class="card_item">
			<div class="card_inner">
				<img src="{% static "Homepage/images/n-c.jpg" %}">
				<div class="role_name" style="font-weight:800;font-size: 15px;">Garage Id : 12</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Owner Id : 2</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Address : 5/3, 6/t</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Area : Kalshi</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Availability : Available</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Hourly Price : 100</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Daily Price : 1200</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Monthly Price : 13000</div>
				<div class="film" style="font-size: 15px;">Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nisi magna
				</div>
			</div>
            <a class="btn" style="color:#ffbe33;width:100%; background-color:black; font-size:18px; border-radius:25px; 
			margin-top:5px" type="submit" href="#">Rent</a>
		</div>
		<div class="card_item">
			<div class="card_inner">
				<img src="{% static "Homepage/images/n-c.jpg" %}">
				<div class="role_name" style="font-weight:800;font-size: 15px;">Garage Id : 12</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Owner Id : 2</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Address : 5/3, 6/t</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Area : Kalshi</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Availability : Available</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Hourly Price : 100</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Daily Price : 1200</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Monthly Price : 13000</div>
				<div class="film" style="font-size: 15px;">Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nisi magna
				</div>
			</div>
            <a class="btn" style="color:#ffbe33;width:100%; background-color:black; font-size:18px; border-radius:25px; 
			margin-top:5px" type="submit" href="#">Rent</a>
		</div>
	</div>
	<div class="cards_wrap">
		<div class="card_item">
			<div class="card_inner">
				<img src="{% static "Homepage/images/n-c.jpg" %}">
				<div class="role_name" style="font-weight:800;font-size: 15px;">Garage Id : 12</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Owner Id : 2</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Address : 5/3, 6/t</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Area : Kalshi</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Availability : Available</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Hourly Price : 100</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Daily Price : 1200</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Monthly Price : 13000</div>
				<div class="film" style="font-size: 15px;">Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nisi magna
				</div>
			</div>
            <a class="btn" style="color:#ffbe33;width:100%; background-color:black; font-size:18px; border-radius:25px; 
			margin-top:5px" type="submit" href="#">Rent</a>
		</div>
	</div>
</div>  
<div style="padding-bottom:140px">  
</div>  
{% endblock main-content %}